{% extends 'base/base.html' %}
{% load static %}

{% block css_block %}
  <link rel="stylesheet" href="{% static 'cliente/css/form.css' %}">
{% endblock css_block %}


{% block header_main %}
<div class="content_header">
  <div></div>
  <div class='page_title'>
    <h3 class="font-bold text-6xl title">
      <i class="fas fa-users"></i>
      <span>
        Ingresar Empleado
      </span>
    </h3>
  </div>
  <div class="button-container align-middle">
  </div>
</div>
{% endblock header_main %}

{% block content %}
<form
  style="width:100%; max-width: 900px;"
  class="w-full form-add my-6 justify-center"
  id="client_form"
  method="POST"
>
  {% csrf_token %}

  <div class="flex flex-col gap-8">
    <!-- Datos del Usuario -->
    <div class="input-groups w-full" style="max-width: 100%;">
      <span class="mb-4 text-left">Datos del Usuario</span>
      <div class="row flex flex-col gap-8 lg:flex-row">

        <div class="flex flex-col mb-4">
          <label
            for=""
            class="block text-lg mb-2 text-grat-900">
            Nombre de Usuario:
          </label>
          {{userForm.username}}
        </div>

        <div class="flex flex-col mb-4">
          <label
            for=""
            class="block text-lg mb-2 text-grat-900">
            Correo:
          </label>
          {{userForm.email}}
        </div>

      </div>

      <div class="row flex flex-col gap-8 lg:flex-row">

        <div class="flex flex-col mb-4">
          <label
            for=""
            class="block text-lg mb-2 text-grat-900">
            Nombres
          </label>
          {{userForm.name}}
        </div>

        <div class="flex flex-col mb-4">
          <label
            for=""
            class="block text-lg mb-2 text-grat-900">
            Apellidos
          </label>
          {{userForm.last_name}}
        </div>

      </div>

    </div>

      <!-- Datos del Empleado -->
    <div class="input-groups w-full" style="max-width: 100%;">
      <span class="mb-4 text-left">Datos del Empleado</span>

      <div class="row flex flex-col gap-8 lg:flex-row">

        <div class="flex flex-col mb-4">
          <label
            for=""
            class="block text-lg mb-2 text-grat-900">
            Dirección:
          </label>
          {{form.address}}
        </div>

        <div class="flex flex-col mb-4">
          <label
            for=""
            class="block text-lg mb-2 text-grat-900">
            Cumpleaños:
          </label>
          {{form.birthday}}
        </div>

      </div>

      <div class="row flex flex-col gap-8 lg:flex-row">

        <div class="flex flex-col mb-4">
          <label
            for=""
            class="block text-lg mb-2 text-grat-900">
            Salario
          </label>
          {{form.salary}}
        </div>

        <div class="flex flex-col mb-4">
          <label
            for=""
            class="block text-lg mb-2 text-grat-900">
            Inicio a Laboral
          </label>
          {{form.start_at_work}}
        </div>

      </div>


    </div>

  </div>


  <div class="options mb-4" style="max-width: 300px;">
    <div class="icon-action add-icon">
      <i class="fas fa-file-alt"></i>
    </div>

    <button class="btn primary-btn">
      <i class="fas fa-save"></i>
      <span>Guardar</span>
    </button>
    <a href="{{request.META.HTTP_REFERER|escape}}" class="btn secondary-btn">
      <i class="fas fa-undo-alt"></i>
      <span>Volver</span>
    </a>
  </div>
</form>
{% endblock content %}
