{% extends 'base/base.html' %}
{% load static %}
{% url 'clients_add' as addClient%}

{% block css_block %}
<link rel="stylesheet" href="{% static 'base/css/table.css' %}">
{% endblock css_block %}



{% block header_main %}
<div class="content_header">
  <div class="page_title">
    <h3 class="font-bold title">
      <i class="fas fa-users"></i>
      Empleados
    </h3>
    <div class="content_title_button">
      <a href="{% url 'employees_add' %}" class="btn primary-btn hover:shadow hover:shadow-md title_button">
        <i class="fas fa-plus"></i>
        <span>Ingresar Empleado</span>
      </a>
    </div>
  </div>
</div>
{% endblock header_main %}


{% block content %}

{% if instance|length <= 0 %}
  <div class="message-none">
    <i class="fas fa-exclamation-circle"></i>
    <span>No se han resgistrado clientes..!</span>
  </div>
{% else %}
  <div class="table-container">
    <table class="my-table" id="tblClients">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Dirección</th>
          <th>Cumpleaños</th>
          <th>Salario</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in instance %}
        <tr>
          <td>{{employee.user_id}}</td>
          <td>{{employee.user_id.name}}</td>
          <td>{{employee.user_id.last_name}}</td>
          <td>{{employee.address}}</td>
          <td>{{employee.birthday}}</td>
          <td>{{employee.salary}}</td>
          <td class="actions">
            <div class="actions-container">
              <a href="/employees/update/{{employee.id}}" class='table-btn btn-edit'>
                <i class="fas fa-edit"></i>
                <span>Editar</span>
              </a>
              <a href="{% url 'employees_del' employee.id %}" class='table-btn btn-delete edit_client'>
                <i class="fas fa-trash-alt"></i>
                <span>Eliminar</span>
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}


{% endblock content %}

{% block js_block %}
  <script src="{% static 'cliente/js/delete_client.js' %}"></script>
  <script>
    $("#tblClients").DataTable({
      responsive: true,
      autoWidth: false,
      destroy: true,
      deferRender: true,
      language: changeLanguageDataTable,
    });
  </script>
{% endblock js_block %}