{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'base/css/table.css' %}">
<link rel="stylesheet" href="{% static 'compra/css/compras_list.css' %}">
<style>
  #historySaleTbl tbody tr td {
    padding: 0;
  }
</style>
{% endblock css_block %}



{% block header_main %}
<div class="content_header">
  <div class="page_title">
    <h3 class="font-bold title">
      <i class="fas fa-cash-register"></i>
      <span>Compra</span>
    </h3>
    <div class="content_title_button">
      <a href="{% url 'sales_add' %}" class="btn primary-btn hover:shadow hover:shadow-md title_button">
        <i class="fas fa-plus"></i>
        <span>Compra</span>
      </a>
    </div>
  </div>
</div>
{% endblock header_main %}

{% block content %}
<div class="flex flex-col content justify-center">
  <div class="info">
    <h3 class="text-4xl text-center text-cyan-800 font-bold mb-8">Historial de modificaciones:</h3>
    <h2 class="text-5xl text-center text-cyan-800 font-bold mb-8">Compra: {{object}}</h2>
  </div>
  <table class="my-table" id="historySaleTbl">
    <thead>
      <th>Venta</th>
      <th>Cliente</th>
      <th>Cantidad</th>
      <th>Fecha</th>
      <th>Acción</th>
      <th>Usuario</th>
    </thead>
    <tbody>
      {% for h in object.history.all %}
        <tr>
          <td>V-{{h.history_object.pk}}</td>
          <td>{{h.history_object.client_id}}</td>
          <td>Q. {{h.history_object.total}}</td>
          <td>{{h.history_date}}</td>
          <td>{% trans h.get_history_type_display %}</td>
          <td>{{h.history_user}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}

{% block js_block %}
  <script>
    $('#historySaleTbl').DataTable({
      responsive: true,
      autoWidth: false,
      destroy: true,
      deferRender: true,
      language: changeLanguageDataTable,
    })
  </script>
{% endblock js_block %}
