{% extends 'base/base.html' %}
{% load static %}
{% url 'clients_add' as addClient%}

{% block css_block %}
<link rel="stylesheet" href="{% static 'base/css/table.css' %}">
{% endblock css_block %}



{% block header_main %}
<div class="content_header">
  <div class="page_title">
    <h3 class="font-bold title">
      <i class="fas fa-user-tie"></i>
      <span>Proveedores</span>
    </h3>
    <div class="content_title_button">
      <a href="{% url 'providers_add' %}" class="btn primary-btn hover:shadow hover:shadow-md title_button">
        <i class="fas fa-plus"></i>
        <span>Ingresar Provedor</span>
      </a>
    </div>
  </div>
</div>
{% endblock header_main %}



{% block content %}

  {% if instance|length <= 0 %}
    <div class="message-none">
      <i class="fas fa-exclamation-circle"></i>
      <span>No se han resgistrado proveedores..!</span>
    </div>
  {% else %}
    <div class="table-container">
      <table class="my-table" id="tblProviders">
        <thead>
          <tr>
            <th>Código</th>
            <th>Logo</th>
            <th>Proveedor</th>
            <th>Contacto</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>NIT</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for provider in instance %}
          <tr>
            <td>{{provider.pk}}</td>
            <td class="table-img">
              <picture class="">
                <img src="{{provider.get_url_img}}" /></td>
              </picture>
            <td>{{provider.company_name}}</td>
            <td>{{provider.reference_contact}}</td>
            <td>{{provider.phone}}</td>
            <td>{{provider.address}}</td>
            <td>{{provider.nit}}</td>
            <td class="actions">
              <div class="actions-container">
                <a href="{% url 'providers_update' provider.pk %}" class='table-btn btn-edit'>
                  <i class="fas fa-edit"></i>
                  <span>Editar</span>
                </a>
                <a href="{% url 'providers_delete' provider.id %}" class='table-btn btn-delete edit_client'>
                  <i class="fas fa-trash-alt"></i>
                  <span>Eliminar</span>
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

{% endblock content %}

{% block js_block %}
  <script>
    $("#tblProviders").DataTable({
      responsive: true,
      autoWidth: false,
      destroy: true,
      deferRender: true,
      language: changeLanguageDataTable,
    });
  </script>
{% endblock js_block %}