.page_content {
  padding: 1rem;
}

.client_form {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr minmax(250px, auto);
  gap: 2rem;
  max-width: 600px;
}

.options {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}