{% extends 'base/base.html' %}
{% load static %}
{% url 'clients_add' as addClient%}

{% block css_block %}
<link rel="stylesheet" href="{% static 'base/css/table.css' %}">
<link rel="stylesheet" href="{% static 'compra/css/compras_list.css' %}">
{% endblock css_block %}



{% block header_main %}
<div class="content_header">
  <div class="page_title">
    <h3 class="font-bold title">
      <i class="fas fa-cash-register"></i>
      <span>Ventas</span>
    </h3>
    <div class="content_title_button">
      <a href="{% url 'sales_add' %}" class="btn primary-btn hover:shadow hover:shadow-md title_button">
        <i class="fas fa-plus"></i>
        <span>Ingresar Venta</span>
      </a>
    </div>
  </div>
</div>
{% endblock header_main %}



{% block content %}

  {% if instance|length <= 0 %}
    <div class="message-none">
      <i class="fas fa-exclamation-circle"></i>
      <span>No se han resgistrado ventas..!</span>
    </div>
  {% else %}
    <div class="table-container">
      <table id="sales-table" class="my-table">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Serie</th>
            <th>DTE</th>
            <th>Cliente</th>
            <th>Subtotal</th>
            <th>Descuento</th>
            <th>Total</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for inst in instance %}
          <tr>
            <td>{{inst.date|date:"Y-m-d"}}</td>
            <td>{{inst.serie}}</td>
            <td>{{inst.dte}}</td>
            <td>{{inst.client_id}}</td>
            <td>Q. {{inst.total|stringformat:".2f"}}</td>
            <td class="actions">
              <div class="actions-container dropdown-actions">
                <button
                  id="dropdownActions-{{product.id}}"
                  data-dropdown-toggle='dropdowItem-{{product.id}}'
                  data-dropdown-trigger="hover"
                  class="flex dropdownBtn gap-4 text-center inline-flex items-center text-white table-btn secondary-btn"
                >
                Acciones
                <i class="fas fa-sort-down"></i>
                </button>
                <div id="dropdowItem-{{product.id}}" class="table-dropdownMenu">
                  <ul>
                    <li>
                      <a class="dropdown-link" href="">
                        <i class="fas fa-info-circle"></i>
                        <span>Ver</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-link" href="{% url 'buy_edit' inst.pk %}">
                        <i class="fas fa-edit"></i>
                        <span>Editar</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-link" href="">
                        <i class="fas fa-trash-alt"></i>
                        <span>Eliminar</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-link" href="">
                        <i class="fas fa-print"></i>
                        <span>Imprimir</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

{% endblock content %}

{% block modal %}
  <div class="modal fade animate__animated animate__fadeIn" id="detailModal">
    <div class="modal-content">
      <div class="modal-title">
        <h1 class="text-cyan-800">
          <i class="fas fa-shopping-cart"></i>
          <span>Detalle de Venta</span>
        </h1>
        <button onclick="closeModal(detailModal)" class="btnClose-modal" rel="detailModal">
          <i class="fas fa-times-circle"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-container">
          <table class="my-table products-table" id="tbl-detail">
            <thead>
              <tr>
                <th>No.</th>
                <th>Producto</th>
                <th>Imagén</th>
                <th>P/U</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock modal %}

{% block js_block %}
  <script>
    var data = []
  </script>
  <script src="{% static 'ventas/js/ventas_list.js' %}"></script>
{% endblock js_block %}