{% extends 'base/base.html' %}
{% load static %}

{% block css_block %}
<link rel="stylesheet" href="{% static 'compra/css/compra.css' %}">
<link rel="stylesheet" href="{% static 'ventas/css/sales.css' %}">
<link rel="stylesheet" href="{% static 'base/css/table.css' %}">
{% endblock css_block %}

{% block header_main %}
<div class="content_header">
  <div></div>
  <div class='page_title'>
    <h3 class="font-bold text-6xl title">
      <i class="fas fa-cash-register"></i>
      <span>
        Editar Venta
      </span>
    </h3>
  </div>
  <div class="button-container align-middle">
  </div>
</div>
{% endblock header_main %}


{% block content %}
<form action="post" id="addSaleForm">
  <input type="hidden" name="action" value="{{action}}">
  <div class="compra-container">

    <div class="detail-card card">
      <!-- Carad Title -->
      <div class="card-title">
        <h5>
          <i class="fas fa-shopping-cart"></i>
          Detalle de productos
        </h5>
      </div>
      <!-- Card Body -->
      <div class="card-body">
  
        <div class="search-prod">
          <label class="block text-lg mb-2 text-grat-900" for="">Buscar Productos</label>
          <div class="input-search">
            <input
              name="search_prod"
              id="search_prod"
              type="text"
              autocomplete="off"
              placeholder="Ingrese una descripción para buscar un producto!"
            >
            <span>
              <button type="button" id="delete_list" class="search-btn">
                <i class="fas fa-times"></i>
              </button>
            </span>
            <div class="items-list" id="my-items-list"></div>
          </div>
        </div>
  
        <div class="table-container">
          <table id="sale-prods-table" class="my-table products-table">
            <thead>
              <tr>
                <th>Eliminar</th>
                <th>Producto</th>
                <th>P/U</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
  
      </div>
    </div>

    <div class="buy-data-card card">

      <!-- Carad Title -->
      <div class="card-title">
        <h5>
          <i class="fas fa-file-invoice"></i>
          Datos de Venta
        </h5>
      </div>
  
      <!-- Carad Body -->
      <div class="card-body">

        <div class="row">
          <!-- Input NIT -->
          <div class="form-group">
            <label class="block text-lg mb-2 text-grat-900" for="">NIT:</label>
            {{form.search_nit}}
          </div>

          <!-- Fecha -->
          <div class="form-group">
            <label class="block text-lg mb-2 text-grat-900" for="">
              Fecha de Compra:
            </label>
            <input
              id="id_date"
              name="date"
              class="w-full bg-gray-50 border border-zinc-300 text-zinc-600 focus:outline-none focus:border-zinc-500 p-1.5 px-2 rounded-lg" 
              type="date"
            >
          </div>

        </div>
        
        
        <div class="form-group">
          <label class="block text-lg mb-2 text-grat-900" for="">Cliente:</label>
          {{form.cliente}}
        </div>

        <div class="row">
          <!-- Subtotal -->
          <div class="form-group">
            <label class="block text-lg mb-2 text-grat-900" for="">
              Subtotal:
            </label>
            {{form.subtotal}}
          </div>
          
          <!-- Descuento -->
          <div class="form-group">
            <label class="block text-lg mb-2 text-grat-900" for="">
              Descuento:
            </label>
            {{form.discount}}
          </div>
          
          <!-- Total -->
          <div class="form-group">
            <label class="block text-lg mb-2 text-grat-900" for="">
              Total:
            </label>
            {{form.total}}
          </div>
        </div>
  
        <div class="row">
          <div class="form-group">
            <label class="block text-lg mb-2 text-grat-900" for="">
              Serie:
            </label>
            {{form.serie}}
          </div>
  
          <div class="form-group">
            <label class="block text-lg mb-2 text-grat-900" for="">
              DTE:
            </label>
            {{form.dte}}
          </div>
        </div>
  
        <div class="form-group">
          <label class="block text-lg mb-2 text-grat-900" for="">
            Autorización:
          </label>
          {{form.authorization_date}}
        </div>

      </div>

      <div class="card-footer buttons">
        <button class="btn primary-btn">
          <i class="fas fa-save"></i>
          <span>Guardar</span>
        </button>
        <a href="{{request.META.HTTP_REFERER|escape}}" class="btn secondary-btn">
          <i class="fas fa-undo-alt"></i>
          <span>Volver</span>
        </a>
      </div>

    </div>
  </div>
</form>
{% endblock content %}

{% block modal %}
  <div class="modal fade animate__animated animate__fadeIn" id="addClientModal">
    <div class="modal-content">
      <div class="modal-title">
        <h1 class="text-cyan-800">
          <i class="fas fa-user"></i>
          <span>Registrar Cliente</span>
        </h1>
        <button onclick="closeModal(addClientModal)" class="btnClose-modal" rel="addClientModal">
          <i class="fas fa-times-circle"></i>
        </button>
        <button></button>
      </div>
      <div class="modal-body">
        <form method="post" id="addClientForm">
          <input type="text" name="action" hidden value="create_client">
          <div class="form-group">
            <label class="block text-lg mb-2 text-grat-900" for="">NIT:</label>
            {{client_form.nit}}
          </div>

          <div class="form-group">
            <label class="block text-lg mb-2 text-grat-900" for="">
              Nombres:
            </label>
            {{client_form.name}}
          </div>

          <div class="form-group">
            <label class="block text-lg mb-2 text-grat-900" for="">
              Apellidos:
            </label>
            {{client_form.last_name}}
          </div>


          <div class="form-group">
            <label class="block text-lg mb-2 text-grat-900" for="">
              Telefono:
            </label>
            {{client_form.phone}}
          </div>

          <div class="form-group">
            <label class="block text-lg mb-2 text-grat-900" for="">
              Dirección:
            </label>
            {{client_form.address}}
          </div>

          <div class="buttons">
            <button type="submit" class="btn primary-btn">Guardar</button>
            <button type="button" onclick="closeModal(addClientModal)" class="btn secondary-btn">Cancelar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
{% endblock modal %}


{% block js_block %}
  <script>
    const client_nit = "{{object.client_id.nit}}"
    const client_name = "{{object.client_id.get_full_name}}"
    const sale_id = "{{object.id}}"
  </script>
  <script src="{% static 'ventas/js/ventas_edit_form.js' %}"></script>
{% endblock js_block %}