{% extends 'base/base.html' %}
{% load static %}
{% url 'clients_add' as addClient%}

{% block css_block %}
<link rel="stylesheet" href="{% static 'base/css/table.css' %}">
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock css_block %}



{% block header_main %}
<div class="content_header">
  <div class="page_title">
    <h3 class="font-bold title">
      <i class="fas fa-box-open"></i>
      <span>Productos</span>
    </h3>
    <div class="content_title_button">
      <a href="{% url 'products_add' %}" class="btn primary-btn hover:shadow hover:shadow-md title_button">
        <i class="fas fa-plus"></i>
        <span>Ingresar Producto</span>
      </a>
    </div>
  </div>
</div>
{% endblock header_main %}



{% block content %}

  {% if instance|length <= 0 %}
    <div class="message-none">
      <i class="fas fa-exclamation-circle"></i>
      <span>No se han resgistrado productos..!</span>
    </div>
  {% else %}
    <div class="table-container">
      <table class="my-table" id="productsTbl">
        <thead>
          <tr>
            <th>Código</th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Existencias</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for product in instance %}
          <tr>
            <td>{{product.pk}}</td>
            <td class="w-4 h-4">
              <picture class="">
              {% if product.image %}
                <img class="object-fit" src="{{product.get_url_img}}" /></td>
              {% else %}
                <img src="{% static 'base/img/not-found.png' %}" /></td>
              {% endif %}
              </picture>
            <td class="product-name">{{product.name}}</td>
            <td>{{product.get_price}}</td>
            <td>{{product.get_stock}}</td>
            <td class="actions">
              <div class="actions-container">
                <a href="{% url 'products_edit' product.pk %}" class='table-btn btn-edit'>
                  <i class="fas fa-edit"></i>
                  <span>Editar</span>
                </a>

                {% if perms.catalogo.delete_product %}
                  <a href="{% url 'products_delete' product.id %}" class='table-btn btn-delete edit_client'>
                    <i class="fas fa-trash-alt"></i>
                    <span>Eliminar</span>
                  </a>
                {% endif %}

              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}

{% endblock content %}

{% block js_block %}
  <script src="{% static 'products/js/products.js' %}"></script>
{% endblock js_block %}