{% load static %}


<nav class="navbar">
  <picture class="img-container">
    <img src="{% static 'base/img/logo.png' %}" alt="">
  </picture>
  <div class="menu">
    <ul>
      <li>
        <a href="">
          <i class="fas fa-home"></i>
          <span>Inicio</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-info-circle"></i>
          <span>Conocenos</span>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-envelope"></i>
          <span>Contáctanos</span>
        </a>
      </li>
      <li>
        <a href="/logout">
          <i class="fas fa-power-off"></i>
          <span>Cerrar Sesión</span>
        </a>
      </li>
    </ul>
  </div>
</nav>